<!doctype html>
<html>
<head>
	<title>Home page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
</head>
<body class="page">
	<section class="content center not-found">
		<h1>Sorry</h1>
		<span id="sorry"><p>this page does not exist</p><span id="sorry-icon"></span>
		</span>
	</section>
</body>
</html>