<!doctype html>
<html>
<head>
	<title>My website</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather" />
	<link rel="stylesheet" type="text/css" href="../static/css/website.css" />
</head>
<body class="center page">
	<div class="placeholder center">
		<svg class="icon boxshadow"
			viewBox="10 10 80 70"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink">
			<title>Index page image</title>
			<g> <!-- top -->
				<desc>Link to the home page</desc>
				<polygon class="hex" points="50,10 60,20 60,30 50,40 40,30 40,20
				" style="fill:#6553BD;"></polygon>
				<a xlink:href="/home/">
					<image x="40" y="20" width="20" height="10" href="../static/img/home.png"></image>
				</a>
			</g>
			<g>
				<line x1="35" y1="30" x2="50" y2="44.5" style="stroke:#000;stroke-width:2;"></line>
				<line x1="65" y1="30" x2="50" y2="44.5" style="stroke:#000;stroke-width:2;"></line>
				<line x1="50" y1="44.5" x2="50" y2="67" style="stroke:#000;stroke-width:2;"></line>
			</g>
			<g>	<!-- left -->
				<desc>Link to the skills page</desc>
				<polygon class="hex" points="37,37 47,47 47,57 37,67 27,57 27,47
				" style="fill:#9A53BD;"></polygon>
				<a xlink:href="/skills/">
					<image x="27" y="47" width="20" height="10" href="../static/img/skills.png"></image>
				</a>
			</g>
			<g>		<!-- right -->
				<desc>Link to the blog page</desc>
				<polygon class="hex" points="63,37 73,47 73,57 63,67 53,57 53,47
				" style="fill:#539ABD;"></polygon>
				<a xlink:href="#">
					<image x="53" y="47" width="20" height="10" href="../static/img/blog.png"></image>
				</a>
			</g>
		</svg>
	</div>
</body>
</html>
